In [1]:
import pandas as pd
import json

## Inspección del formato de datos - Libraries.js -

In [2]:
df_libraries = pd.read_json('../data/Libraries.json', lines=True)
df_libraries.head(n=5)

,_id,title,isbn,pageCount,publishedDate,thumbnailUrl,shortDescription,longDescription,status,authors,categories
0,1,Unlocking Android,1933988673,416,{'$date': '2009-04-01T00:00:00.000-0700'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,Unlocking Android: A Developer's Guide provide...,Android is an open source mobile phone platfor...,PUBLISH,"[W. Frank Ableson, Charlie Collins, Robi Sen]","[Open Source, Mobile]"
1,2,"Android in Action, Second Edition",1935182722,592,{'$date': '2011-01-14T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,"Android in Action, Second Edition is a compreh...","When it comes to mobile apps, Android can do a...",PUBLISH,"[W. Frank Ableson, Robi Sen]",[Java]
2,3,Specification by Example,1617290084,0,{'$date': '2011-06-03T00:00:00.000-0700'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,NaN,PUBLISH,[Gojko Adzic],[Software Engineering]
3,4,Flex 3 in Action,1933988746,576,{'$date': '2009-02-02T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,New web applications require engaging user-fri...,PUBLISH,"[Tariq Ahmed with Jon Hirschi, Faisal Abid]",[Internet]
4,5,Flex 4 in Action,1935182420,600,{'$date': '2010-11-15T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,"Using Flex, you can create high-quality, effec...",PUBLISH,"[Tariq Ahmed, Dan Orlando, John C. Bland II, J...",[Internet]

In [3]:
# Tamaño de los datos (filas , columnas)
df_libraries.shape

(399, 11)

## Inspección del formato de datos - Licencias Locales CSV -

In [4]:
df_licencias = pd.read_csv('../data/Licencias_Locales_202104.csv', sep=";", encoding='UTF-8')
df_licencias.head(n=5)

,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,cod_barrio_local,id_seccion_censal_local,desc_seccion_censal_local,coordenada_x_local,coordenada_y_local,...,desc_tipo_agrup,id_planta_agrupado,id_local_agrupado,rotulo,ref_licencia,id_tipo_licencia,desc_tipo_licencia,id_tipo_situacion_licencia,desc_tipo_situacion_licencia,Fecha_Dec_Lic
0,10003584,1,CENTRO,103,CORTES,3,1067,67,"440408,59","4473927,53",...,SIN AGRUPACION,PB,NaN,NEW CARO FACTORY PRICE,500/2014/02133,4,Transmisión de licencia Urbanística,4,Tramitando Transmisión de Licencia,25/02/2014
1,10003585,1,CENTRO,103,CORTES,3,1067,67,"440571,59","4473930,53",...,SIN AGRUPACION,PB,NaN,TU MUNDO FANTASTICO,220/2010/00574,4,Transmisión de licencia Urbanística,1,En tramitación,25/03/2011
2,10003585,1,CENTRO,103,CORTES,3,1067,67,"440571,59","4473930,53",...,SIN AGRUPACION,PB,NaN,TU MUNDO FANTASTICO,220/2012/10729,4,Transmisión de licencia Urbanística,1,En tramitación,08/08/2012
3,10003585,1,CENTRO,103,CORTES,3,1067,67,"440571,59","4473930,53",...,SIN AGRUPACION,PB,NaN,TU MUNDO FANTASTICO,500/2017/06497,1,Declaración Responsable,1,En tramitación,14/06/2017
4,10003587,1,CENTRO,104,JUSTICIA,4,1082,82,"440569,59","4475080,53",...,SIN AGRUPACION,PB,NaN,AMERICAN VINTAGE,500/2013/06603,1,Declaración Responsable,1,En tramitación,14/10/2013

In [5]:
# Tamaño de los datos (filas , columnas)
df_licencias.shape

(132171, 46)

## Inspección del formato de datos - Locales CSV -

In [6]:
df_locales = pd.read_csv('../data/Locales_202104.csv', sep=";", encoding='ISO-8859-1')
df_locales.head(n=5)

,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,cod_barrio_local,id_seccion_censal_local,desc_seccion_censal_local,coordenada_x_local,coordenada_y_local,...,cal_acceso,coordenada_x_agrupacion,coordenada_y_agrup,id_agrupacion,nombre_agrupacion,id_tipo_agrup,desc_tipo_agrup,id_planta_agrupado,id_local_agrupado,rotulo
0,280046845,8,FUENCARRAL-EL PARDO,803,PEÑA GRANDE,NaN,NaN,21,"439101,63","4481402,56",...,,NaN,NaN,NaN,NaN,NaN,NaN,PB,NaN,GARAJE ISLAS CIES
1,280046855,8,FUENCARRAL-EL PARDO,803,PEÑA GRANDE,NaN,NaN,23,"438817,63","4481326,57",...,,NaN,NaN,NaN,NaN,NaN,NaN,PB,NaN,DEFIRIS
2,280046865,8,FUENCARRAL-EL PARDO,803,PEÑA GRANDE,NaN,NaN,26,"438986,63","4481184,56",...,,NaN,NaN,NaN,NaN,NaN,NaN,PB,NaN,PELUQUERIAS LOW COST
3,280046871,8,FUENCARRAL-EL PARDO,803,PEÑA GRANDE,NaN,NaN,26,"439093,63","4481280,56",...,,NaN,NaN,NaN,NaN,NaN,NaN,PB,NaN,LATIN PHONET LOCUTORIO INTERNET
4,280046888,8,FUENCARRAL-EL PARDO,803,PEÑA GRANDE,NaN,NaN,28,"439310,63","4481448,56",...,,NaN,NaN,NaN,NaN,NaN,NaN,PB,NaN,IBERHOSPITEX

In [7]:
# Tamaño de los datos (filas , columnas)
df_locales.shape

(148216, 40)

## Inspección del formato de datos - Locales CSV -

In [8]:
df_terrazas = pd.read_csv('../data/Terrazas_202104.csv', sep=";", encoding='ISO-8859-1')
df_terrazas.head(n=5)

,id_terraza,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,id_ndp_edificio,id_clase_ndp_edificio,id_vial_edificio,clase_vial_edificio,...,hora_ini_VS_es,hora_fin_VS_es,hora_ini_VS_ra,hora_fin_VS_ra,mesas_aux_es,mesas_aux_ra,mesas_es,mesas_ra,sillas_es,sillas_ra
0,7,280067128,20,SAN BLAS-CANILLEJAS,2005,ROSAS,20157611,1,2443,CALLE,...,08:00:00,01:30:00,NaN,NaN,0,NaN,5,NaN,10,A
1,33,270403150,4,SALAMANCA,404,GUINDALERA,11018870,1,42500,AVENIDA,...,10:00:00,02:30:00,10:00:00,00:00:00,0,0.0,9,9.0,27,
2,34,270078567,4,SALAMANCA,404,GUINDALERA,11018555,1,35200,CALLE,...,10:00:00,02:30:00,10:00:00,00:00:00,0,0.0,4,0.0,14,
3,36,40002021,4,SALAMANCA,404,GUINDALERA,11018545,1,10100,CALLE,...,10:00:00,00:00:00,NaN,NaN,0,NaN,5,NaN,10,
4,40,40002808,4,SALAMANCA,401,RECOLETOS,11014033,1,85200,CALLE,...,10:00:00,02:30:00,10:00:00,00:00:00,1,1.0,8,8.0,24,

In [9]:
# Tamaño de los datos (filas , columnas)
df_terrazas.shape

(6275, 57)